// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// メディアクエリ
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//ブレークポイント変数
$breakpoints: (
    "xs": "screen and (max-width: 600px)",
    "sm": "screen and (max-width: 960px)",
    "md": "screen and (max-width: 1264px)",
    "lg": "screen and (max-width: 1904px)",
    "xl": "screen and (max-width: 3000px)"
) !default;

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Foundation ------------ */
@import "foundation/_reset";
@import "foundation/_base";

@import "_introducPage";

#app {
    background-color: #bfdcfa;
}

.page-title {
    font-size: 20px;
    font-weight: 700;
}

.card {
    width: 85%;
    border-radius: 0 0 5px 5px !important;
}

.card_comment {
    height: 45px;
    line-height: 15px !important;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
}

.button_small {
    font-size: 12px;
}

.p-pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px auto;
    padding-bottom: 20px;
    border-radius: 4px;
}

.page {
    &__item {
        color: black !important;
        width: 24px;
        padding: 8px;
        border: none;
        &.active {
            background-color: #fff;
            .p-page__item-link {
                color: #fff;
            }
        }
        &-link {
            color: black !important;
        }
    }
    &__prev {
        color: black !important;
        line-height: 40px;
        margin-right: 5px;
    }
    &__next {
        color: black !important;
        line-height: 40px;
        margin-left: 5px;
    }
}

.flash {
    width: 100%;
    height: 60px;
    color: black;
    margin-top: 55px;
    line-height: 60px;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #5cb85c;
}

.link {
    color: black !important;
    font-weight: 00;
}

.statement {
    width: 80%;
}

.pc-header-list {
    max-height: 55px;
}

.headerItem {
    margin-left: 40px;
    color: black !important;
    @include mq() {
        margin-left: 15px;
    }
}

.icon_area {
    display: inline-block;
    width: 45px;
}
