// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Foundation ------------ */
@import "foundation/_reset";
@import "foundation/_base";

#app {
    background-color: #BFDCFA;
}

.card_comment {
    height: 45px;
    line-height: 15px !important;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button_small {
    font-size: 12px;
}

.p-pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px auto;
    padding-bottom: 20px;
    border-radius: 4px;
}

.page {
    &__item {
        color: black!important;
        width: 24px;
        padding: 8px;
        border: none;
        &.active {
            background-color: #fff;
            .p-page__item-link{
                color: #fff;
            }
        }
        &-link {
            color: black!important;
        }
    }
    &__prev {
        color: black!important;
        line-height: 40px;
        margin-right: 5px;
    }
    &__next {
        color: black!important;
        line-height: 40px;
        margin-left: 5px;
    }
}
